.example-card {
    /* max-width: px; */
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
  }

  .example-header-image {
    background-image: url('https://www.clipartwiki.com/clipimg/detail/74-745109_directory-folder-icon-map-png-image-gray-folder.png');
    background-size: cover;
  }
  /* .title{
    font-size: 25px;
  }
  .intention{
    font-size: 20px;
  }
  .addedBy{
    margin-left: 100px;
    font-size: 20px;
  }
  .confidenceRating{
    margin-right: 50px;
  }
  .icon-subtitles{
    margin-bottom:3px;
  } */
  .addURL-fab-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    margin:0;
}
