<!-- <router-outlet></router-outlet> -->
<!-- <section *ngIf="show">
    <div class="flex-container" fxLayout="row wrap" fxLayoutAlign="space-between center">

        <p>We use cookies and other tracking technologies to improve your browsing experience on our application, to show
            you personalized content and experience, to analyze our website traffic, and to understand where our
            visitors are coming from. By browsing our website, you consent to our use of cookies and other tracking
            technologies.</p>
        <a mat-raised-button (click)="agree()">I Accept</a>
    </div>
</section> -->
<app-nav-bar></app-nav-bar>