<div class="Ontology">
    <mat-toolbar>
        <mat-toolbar-row>
            <a target="_blank">Manage Knowledge Base</a>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-tab-group dynamicHeight style="padding: 1%;">
        <mat-tab label="Concept" fxLayout="column">
            <div class="example-large-box mat-elevation-z4" fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="10px">
                <!-- <div fxLayout="row" fxLayoutAlign="center start">
                    <mat-form-field [formGroup]="searchForm">
                        <input matInput formControlName="inputQuery" matInput placeholder="Search"
                            (keyup.enter)="searchConcept($event)">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div> -->
                <div class="example-button-row" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
                    <button mat-stroked-button color="accent" matTooltip="Edit Existing Concept" (click)="editExistingConcept()">Edit</button>
                    <button mat-flat-button color="accent" matTooltip="Add new Concept" (click)="toggle()">Add</button>
                    <button mat-flat-button color="primary" (click)="openDialog()" [disabled]="!(buttonStatus)">Save</button>
                </div>
                <mat-list>
                    <mat-divider></mat-divider>
                </mat-list>
                <div fxLayout="row" fxLayoutAlign="end center" class="example-section">
                    <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled">
                        Review
                    </mat-slide-toggle>
                </div>
                <div fxLayout="row" fxLayoutAlign="center start" style="height:300px">
                    <form [formGroup]="form">
                        <mat-form-field appearance="outline" style="width:300px" *ngIf="show">
                            <mat-label>Add Concept</mat-label>
                            <input matInput placeholder="Concepts" (keydown)="onAddSkills($event)" (blur)="onBlurMethod()" formControlName="keySkills" name="keySkills">
                        </mat-form-field>
                        <div class="chip-list">
                            <app-intent-cards [skills]="skills" [removable]="removable"></app-intent-cards>
                        </div>
                    </form>
                </div>
                <div *ngIf="removable" fxLayout="row" fxLayoutAlign="center start" style="height:300px">
                    <app-intent-cards [skills]="concepts" [removable]="removable"></app-intent-cards>
                </div>

            </div>
        </mat-tab>
        <mat-tab label="Terms" fxLayout="column">
            <div class="example-large-box mat-elevation-z4" fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="10px">
                <!-- <div fxLayout="row" fxLayoutAlign="center start">
                    <mat-form-field [formGroup]="searchForm">
                        <input matInput formControlName="inputQuery" matInput placeholder="Search"
                            (keyup.enter)="searchTerm()">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div> -->
                <div class="example-button-row" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
                    <button mat-stroked-button color="accent" matTooltip="Edit Existing Terms" (click)="editExistingTerms()">Edit</button>
                    <button mat-flat-button color="accent" matTooltip="Add new Terms" (click)="toggle()">Add</button>
                    <button mat-raised-button color="primary" (click)="openDialog()" [disabled]="!buttonStatus">Save</button>
                </div>
                <mat-list>
                    <mat-divider></mat-divider>
                </mat-list>
                <div fxLayout="row" fxLayoutAlign="end center" class="example-section">
                    <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled">
                        Review
                    </mat-slide-toggle>
                </div>
                <div fxLayout="row" fxLayoutAlign="center start" style="height:300px">
                    <form [formGroup]="form">
                        <mat-form-field appearance="outline" style="width:300px" *ngIf="show">
                            <mat-label>Add Terms</mat-label>
                            <input matInput placeholder="Terms" (keydown)="onAddTerms($event)" (blur)="onBlurTermsMethod()" formControlName="keySkills" name="keySkills">
                        </mat-form-field>
                        <div class="chip-list">
                            <app-intent-cards [skills]="terms"></app-intent-cards>
                        </div>
                    </form>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Intents">

            <!-- <div *ngFor="let recipient of intentListToTerms | keyvalue"  >
                <div *ngFor="let res of intentListToCounterTerms | keyvalue" class="intentList">
                    <app-term-cards [intent]="recipient.key"  [terms]="recipient.value" [counterTerms]="res.value">
                    </app-term-cards>
                </div>
            </div> -->
            <div *ngFor="let recipient of len">
                <!-- <div *ngFor="let res of recipient" class="intentList"> -->
                <app-term-cards [intent]="recipient" [terms]="intentListToTerms[recipient]" [counterTerms]="intentListToTerms['Code-Example']">
                </app-term-cards>
                <!-- </div> -->
            </div>
            <br><br>
            <!-- <button class="addURL-fab-button" mat-fab aria-label="Example icon-button with a add icon"
                    (click)="openNewIntent()" matTooltip="Add new Intent with terms"> -->
            <button class="addURL-fab-button" color="primary" mat-fab aria-label="Example icon-button with a add icon" (click)="openNewIntent()" matTooltip="Add new Intent with terms">
                <mat-icon>add</mat-icon>
            </button>
        </mat-tab>
    </mat-tab-group>
</div>